export AZURE_TENANT_ID=$(az account show --query tenantId --output tsv)
export ARM_SUBSCRIPTION_ID=$(az account show --query id --output tsv)
export TF_VAR_SECURITY_GROUP_ID=$(terraform -chdir=service_account output -raw security_group_id)
export AZURE_CLIENT_ID=$(terraform -chdir=service_account output -raw service_account_client_id)
export AZURE_CLIENT_SECRET=$(terraform -chdir=service_account output -raw service_account_client_secret)
